html, body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}

.phase {
	display: none;
}

#phase_edit, #phase_result {
	display: block;
}

/* EDIT */

.sidebar {
    width: 320px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.sidebar_block {
    background: #eee;
    margin: 16px 0 0 16px;
    padding: 20px;
}

.sidebar_block label {
    display: block;
}

.sidebar_block > div {
    padding: 0 0 8px;
}

.main {
	padding-left: 320px;
}

/* the grid will be made of 500x500 tiles of 32x32 pixels */
.grid {
	margin: 16px;
	width: 16000px;
	height: 16000px;
	background-color: #88CEEB;
	background-image: url('../images/grid.png');
	background-size: 16px auto;
	display: block;
	position: relative;
}

.grid::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -5px;
	display: block;
	border: 2px solid #fff;
}

.editor_element {
	cursor: move;
	background-size: 100% auto;
	/*background-color: rgba(170, 220, 180, .4);*/
	position: absolute;
	
}

.editor_element .remove {
    position: absolute;
    width: 24px;
    height: 24px;
    right: -4px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 24px;
    color: #333;
    cursor: pointer;
    line-height: 32px;
    top: -4px;
	opacity: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	z-index: 32;
}

.editor_element:hover .remove {
	opacity: 1;
}

.elem_32x32 {
	width: 32px;
	height: 32px;
	display: block;
}

.elem_64x64 {
	width: 64px;
	height: 64px;
	display: block;
}
.elem_128x128 {
	width: 128px;
	height: 128px;
	display: block;
}
.elem_256x128 {
	width: 256px;
	height: 128px;
	display: block;
}
.elem_512x128 {
	width: 512px;
	height: 128px;
	display: block;
}
.elem_1024x128 {
	width: 1024px;
	height: 128px;
	display: block;
}

.elem_256x256 {
	width: 256px;
	height: 256px;
	display: block;
}
.elem_512x512 {
	width: 512px;
	height: 512px;
	display: block;
}

/* ACTUAL ELEMENTS */
.elem_32x32.Rune_DD {
	background-image: url('../images/Rune_DD.png');
}
.elem_32x32.Rune_Haste {
	background-image: url('../images/Rune_Haste.png');
}
.elem_32x32.Rune_Regen {
	background-image: url('../images/Rune_Regen.png');
}

/* Platforms */
.elem_512x128.Platform1 {
	background-image: url('../images/Platform1.png');
}
.elem_1024x128.Platform2 {
	background-image: url('../images/Platform2.png');
}
.elem_64x64.Brick {
	background-image: url('../images/Brick.png');
}

/* ENEMIES */
.elem_128x128.Creep {
	background-image: url('../images/Creep.png');
}
.elem_64x64.Ballista {
	background-image: url('../images/Ballista.png');
}
.elem_128x128.Dragon {
	background-image: url('../images/Dragon.png');
}


/*  Background */
.elem_64x64.Light_Cloud {
	background-image: url('../images/Light_CLoud.png');
}
.elem_128x128.Light_Tree {
	background-image: url('../images/Light_Tree.png');
}
.elem_128x128.Rock {
	background-image: url('../images/Rock.png');
}
.elem_256x256.Light_Tower {
	background-image: url('../images/Light_Tower.png');
}
.elem_512x512.Light_Mountain {
	background-image: url('../images/Light_Mountain.png');
}





#result {
    width: 100%;
    height: 64px;
    resize: none;
}